<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Faça Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Faça Contato</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptates aut cumque animi laborum? Tenetur, voluptatum. Voluptatibus, repellendus tempore? Obcaecati voluptatum fuga dicta tenetur blanditiis fugiat voluptatem consequatur molestias quisquam?</p>

</ion-content>
