<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-list-header>Fuinhas</ion-list-header>
          <ion-note>Futucando onde não deve.</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/articles" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="document-text"></ion-icon>
              <ion-label>Artigos</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/news" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="newspaper"></ion-icon>
              <ion-label>Notícias</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/contacts" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="chatbubbles"></ion-icon>
              <ion-label>Faça Contato</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/about" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>Sobre</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>

      <ion-text class="ion-text-center ion-padding">
        <small>&copy; Copyright 2021 Willian Samuel</small>
      </ion-text>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>